body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:1080px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:130px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:390px;
  top:194px;
  width:40px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:230px;
  top:194px;
  width:40px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:230px;
  top:224px;
  width:66px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:230px;
  top:254px;
  width:66px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:230px;
  top:284px;
  width:66px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:230px;
  top:314px;
  width:92px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:230px;
  top:344px;
  width:92px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:230px;
  top:374px;
  width:92px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:230px;
  top:404px;
  width:40px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:230px;
  top:434px;
  width:66px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:230px;
  top:464px;
  width:40px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:230px;
  top:494px;
  width:66px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:230px;
  top:524px;
  width:66px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:390px;
  top:494px;
  width:27px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:390px;
  top:524px;
  width:53px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:230px;
  top:554px;
  width:40px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:390px;
  top:220px;
  width:200px;
  height:20px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36_input {
  font-family:'Applied Font';
}
#u37 {
  position:absolute;
  left:390px;
  top:250px;
  width:200px;
  height:20px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37_input {
  font-family:'Applied Font';
}
#u38 {
  position:absolute;
  left:390px;
  top:340px;
  width:200px;
  height:20px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'Applied Font';
}
#u39 {
  position:absolute;
  left:390px;
  top:370px;
  width:200px;
  height:20px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39_input {
  font-family:'Applied Font';
}
#u40 {
  position:absolute;
  left:390px;
  top:400px;
  width:200px;
  height:20px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40_input {
  font-family:'Applied Font';
}
#u41 {
  position:absolute;
  left:390px;
  top:430px;
  width:200px;
  height:20px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41_input {
  font-family:'Applied Font';
}
#u42 {
  position:absolute;
  left:390px;
  top:460px;
  width:200px;
  height:20px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42_input {
  font-family:'Applied Font';
}
#u43 {
  position:absolute;
  left:390px;
  top:550px;
  width:200px;
  height:70px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
  background-image:;
  text-align:left;
  font-family:'Heiti SC';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43_input {
  font-family:'Applied Font';
}
#u44 {
  position:absolute;
  left:390px;
  top:280px;
  width:200px;
  height:20px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44_input {
  font-family:'Applied Font';
}
#u45 {
  position:absolute;
  left:390px;
  top:314px;
  width:119px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:545px;
  top:660px;
  width:190px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u47_input {
  font-family:'Applied Font';
}
#u48 {
  position:absolute;
  left:398px;
  top:560px;
  width:182px;
  height:40px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:440px;
  top:270px;
  width:400px;
  height:300px;
  overflow:hidden;
  visibility:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
}
#u52 {
  position:absolute;
  left:2px;
  top:142px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:152px;
  top:14px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:100px;
  top:50px;
  width:40px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:200px;
  top:50px;
  width:40px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:100px;
  top:73px;
  width:66px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:200px;
  top:73px;
  width:27px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:100px;
  top:96px;
  width:66px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:200px;
  top:96px;
  width:54px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:100px;
  top:119px;
  width:66px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:200px;
  top:119px;
  width:65px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:100px;
  top:142px;
  width:66px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:200px;
  top:142px;
  width:65px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:100px;
  top:165px;
  width:66px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:200px;
  top:165px;
  width:53px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:194px;
  top:192px;
  width:13px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:45px;
  top:240px;
  width:150px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:205px;
  top:240px;
  width:150px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
